body{
    font-family: 'Lora', serif;
    background-color: #b8cf81;
    color: white;
}

.container{

}

.title{
    right: 80px;
    position: absolute;
    width: 500px;
    font-size: 30px;
    text-align: right;
    letter-spacing: 8px;
}

.content{
    position: absolute;
    top: 200px;
    left: 70px;
    line-height: 50px;
}
